{% extends "base.html" %}
{% load staticfiles %}



{% block content %}{{ block.super }}

<article>
	<h1>{{ page_title }}</h1>
	<hr/>
	Numéro d'adhésion : <strong>{{ adherent.num_adherent }}</strong><br/>
	Âge : <strong>{{ adherent.date_de_naissance|timesince }}</strong><br/>
	Genre : <strong>{{ adherent.genre }}</strong><br/>
	<hr/>
	Profession :<br/>
	<strong>{{ adherent.profession }}</strong><br/>
	<hr/>
	Email : <strong>{{ adherent.email }}</strong><br/>
	<hr/>
	Téléphone :<br/>
	{% if adherent.tel_portable or adherent.tel_bureau or adherent.tel_domicile %}
	<strong>
	{% if adherent.tel_portable %}<a href="tel:{{ adherent.tel_portable }}">{{ adherent.tel_portable }}</a><br/>{% endif %}
	{% if adherent.tel_bureau %}<a href="tel:{{ adherent.tel_bureau }}">{{ adherent.tel_bureau }}</a><br/>{% endif %}
	{% if adherent.tel_domicile %}<a href="tel:{{ adherent.tel_domicile }}">{{ adherent.tel_domicile }}</a><br/>{% endif %}
	</strong>
	{% else %}
	Pas de numéro<br/>
	{% endif %}
	<hr/>
	Première côtisation :
	<strong>{{ adherent.date_premiere_adhesion }}</strong> ({{ adherent.date_premiere_adhesion|timesince }})<br/>
	Dernière côtisation :
	<strong>{{ adherent.date_derniere_cotisation }}</strong><br/>
	<hr/>
	Adresse :<br/>
	{% if adherent.adresse1 or adherent.adresse2 or adherent.adresse3 or adherent.adresse4 %}
		<strong>
		{% if adherent.adresse1 %}{{ adherent.adresse1 }}<br/>{% endif %}
		{% if adherent.adresse2 %}{{ adherent.adresse2 }}<br/>{% endif %}
		{% if adherent.adresse3 %}{{ adherent.adresse3 }}<br/>{% endif %}
		{% if adherent.adresse4 %}{{ adherent.adresse4 }}<br/>{% endif %}
		{% if adherent.code_postal %}{{ adherent.code_postal }}<br/>{% endif %}
		{% if adherent.ville %}{{ adherent.ville }}<br/>{% endif %}
		{% if adherent.pays %}{{ adherent.pays }}<br/>{% endif %}
		</strong>
	{% else %}
		Pas d'adresse<br/>
	{% endif %}
	{% if adherent.mandats or adherent.commune or adherent.canton %}
		<hr/>
		Mandat(s) :<br/>
		<strong>
		{{ adherent.mandats }}<br/>
		{{ adherent.commune }}<br/>
		{{ adherent.canton }}<br/>
		</strong>
	{% endif %}

	<hr/>
	<h2>Notes :</h2>

	<p>
	{% include 'profiles/modules/formulaire_note.html' %}
	</p>

	<h4>Notes :</h4>
	{% if member.notes %}
		{% for note in member.notes.all|dictsortreversed:"date" %}
			{% include 'profiles/modules/affichage_note.html' %}
		{% endfor %}
	{% endif %}

</article>

{% endblock content %}



{% block scripts %}{{ block.super }}

{% endblock scripts %}

