{% extends "base.html" %}
{% load staticfiles %}

{% block content %}{{ block.super }}

<article>

{% if page_title %}<h1>{{ page_title }} :</h1>{% endif %}

<p><a class="btn btn-secondary btn-block" href=""><i class="fa fa-refresh"></i> Charger un nouvel adhérent</a></p>

{% if adherent %}

	<p><strong>Prénom :</strong> 
	{{ adherent.prenom }}</p>
	
	<p><strong>Ville :</strong>
	{{ adherent.ville }} ({{ adherent.federation }})<p>
	
	<p><strong>Âge :</strong>
	{{ adherent.date_de_naissance|timesince }}</p>
	
	<p><strong>Première adhésion :</strong>
	{{ adherent.date_premiere_adhesion|timesince }}</p>
	
	<p><strong>Dernière cotisation :</strong>
	{{ adherent.date_derniere_cotisation|timesince }}</p>
	
	<p><strong>Tel(s) :</strong>
	{% if adherent.tel_portable %}<a href="tel:{{ adherent.tel_portable }}">{{ adherent.tel_portable }}</a>{% endif %}
	{% if adherent.tel_bureau %}<a href="tel:{{ adherent.tel_bureau }}">{{ adherent.tel_bureau }}</a>{% endif %}
	{% if adherent.tel_domicile %}<a href="tel:{{ adherent.tel_domicile }}">{{ adherent.tel_domicile }}</a>{% endif %}

	<style>
		a[href^="tel:"] { margin-right: 1em; }
		a[href^="tel:"]:before { content: "☎ "; }
	</style>
	
	{% if adherent.mandats %}
	<p><strong>Mandat(s) :</strong>
	{{ adherent.mandats }} {{ adherent.commune }}</p>
	{% endif %}
	
	<p>
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="call_successful" {% if call_successful %}checked{% endif %}>
					Appel réussi !
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="wrong_number" {% if wrong_number %}checked{% endif %}>
					Mauvais numéro :(
				</label>
			</div>
			<textarea name="note" class="form-control" maxlength="5000" rows="6"
			placeholder="Notes..."></textarea>
		</div>
		<input type="hidden" name="num_adherent" value="{{ adherent.num_adherent }}"/>
		<div class="form-group">
			<button type="submit" class="btn btn-secondary">
				<i class="fa fa-check"></i>
				Enregistrer
			</button>
		</div>
	</form>
	</p>

	{% if user.is_staff and admin_url %}	
		<a class="btn btn-secondary" href="{% url 'admin:fichiers_adherents_adherent_change' adherent.pk %}"><i class="fa fa-gears"></i> Administrer</a>	
	{% endif %}

	<hr/>
	<h4>Notes :</h4>
	{% if member.notes %}
		{% for note in member.notes.all|dictsortreversed:"date" %}
			{% include 'profiles/modules/affichage_note.html' %}
		{% endfor %}
	{% endif %}

{% endif %}

{% endblock content %}

</article>

{% block scripts %}{{ block.super }}

{% endblock scripts %}

