{% extends "base.html" %}
{% load staticfiles %}

{% block content %}{{ block.super }}

<article>

{% if adherent %}

	<h1>{{ adherent.nom_courant }}</h1>

	<div class="row">
		<div class="col-md-3">
			<p>
				<a class="btn btn-success btn-block" href="{% url 'phoning__event' operation.id member.id 'success' %}">
					<i class="fa fa-check"></i> Appel réussi
				</a>
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<a class="btn btn-warning btn-block" href="{% url 'phoning__event' operation.id member.id 'wrongnumber' %}">
				<i class="fa fa-exclamation-circle"></i> Mauvais n°
				</a>
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<a class="btn btn-info btn-block" href="{% url 'phoning__event' operation.id member.id 'leftmessage' %}">
				<i class="fa fa-microphone"></i> Mess. laissé
				</a>
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<a class="btn btn-secondary btn-block" href="{% url 'phoning__event' operation.id member.id 'skip' %}">
				<i class="fa fa-sign-out"></i> Passer
				</a>
			</p>
		</div>
	</div>

	<p><strong>Ville :</strong>
	{{ adherent.ville }} ({{ adherent.federation }})<p>
	
	<p><strong>Âge :</strong>
	{{ adherent.date_de_naissance|timesince }}</p>
	
	<p><strong>Première adhésion :</strong>
	{{ adherent.date_premiere_adhesion|timesince }}</p>
	
	<p><strong>Dernière cotisation :</strong>
	{{ adherent.date_derniere_cotisation|timesince }}</p>
	
	<p><strong>Tel(s) :</strong>
	{% if adherent.tel_portable %}<a href="tel:{{ adherent.tel_portable }}">{{ adherent.tel_portable }}</a>{% endif %}
	{% if adherent.tel_bureau %}<a href="tel:{{ adherent.tel_bureau }}">{{ adherent.tel_bureau }}</a>{% endif %}
	{% if adherent.tel_domicile %}<a href="tel:{{ adherent.tel_domicile }}">{{ adherent.tel_domicile }}</a>{% endif %}

	<style>
		a[href^="tel:"] { margin-right: 1em; }
		a[href^="tel:"]:before { content: "☎ "; }
	</style>
	
	{% if adherent.mandats %}
	<p><strong>Mandat(s) :</strong>
	{{ adherent.mandats }} {{ adherent.commune }}</p>
	{% endif %}
	
	<p>
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			<textarea name="note" class="form-control" maxlength="5000" rows="6"
			placeholder="Ajouter une note ..."></textarea>
		</div>
		<input type="hidden" name="num_adherent" value="{{ adherent.num_adherent }}"/>
		<div class="form-group">
			<button type="submit" class="btn btn-secondary">
				<i class="fa fa-save"></i>
				Enregistrer
			</button>
		</div>
	</form>
	</p>

	{% if user.is_staff and admin_url %}	
		<a class="btn btn-secondary" href="{% url 'admin:fichiers_adherents_adherent_change' adherent.pk %}"><i class="fa fa-gears"></i> Administrer</a>	
	{% endif %}

	{% if member.timeline %}
		<hr/>
		<h4>Historique :</h4>
		{% for milestone in member.timeline|dictsortreversed:"date" %}
			{% include 'profiles/modules/milestone.html' %}
		{% endfor %}
	{% endif %}

{% endif %}

{% endblock content %}

</article>

{% block scripts %}{{ block.super }}

{% endblock scripts %}

