{% extends "base.html" %}
{% load staticfiles %}

{% block content %}{{ block.super }}

<div class="col-sm-12">

<article>

{% if page_title %}<h1>{{ page_title }} ({{ object_list|length }}) :</h1>{% endif %}

<div><!-- Actions -->
{% for action in list_actions %}
	<a href="{{ action.url }}" class="btn btn-secondary">
		{{ action.text }}
	</a>
{% endfor %}
</div>

{% if user.is_staff and admin_url and object_list|length > 10 %}
<p><a class="btn btn-secondary" href="{{ admin_url }}"><i class="fa fa-gears"></i> Administrer</a></p>
{% endif %}

<hr/>


{% for droit in object_list %}
<div>
	
	<p>
		<strong>{{ droit.name }}</strong>
		{% for user in droit.readers.all %}
		<span> - {{ user }}</span> 
		{% endfor %}

	</p>


</div>
<hr/>
{% endfor %}



{% if not object_list %}

<p>Les droits n'ont pas encore été chargés !</p>

{% endif %}



{% if user.is_staff and admin_url %}
<p><a class="btn btn-secondary" href="{{ admin_url }}"><i class="fa fa-gears"></i> Administrer</a></p>
{% endif %}

</article>

</div> <!--columns-->

{% endblock content %}



{% block scripts %}{{ block.super }}

{% endblock scripts %}

