{% extends "base.html" %}
{% load staticfiles %}

{% block head %}{{ block.super }}

<title>Téléverser un fichier adhérents</title>

{% endblock head %}



{% block content %}{{ block.super }}

<div class="col-sm-12">

	<h1>Téléverser un fichier adhérents</h1>
	<br>
	<p>Attention, il est nécessaire que ce fichier soit au format <strong>CSV</strong>, délimité par des <strong>points-virgule</strong>.</p>
	<p>C'est indispensable, parce que de nombreux champs d'adresses contiennent des virgules : "25, rue des platanes"</p>
	<p>Vous pouvez enregistrer au format CSV depuis Excel.</p>
	<br>
	
	
	<form id="upload_form" method="post" action="" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			{{ upload_form }}
		</div>
		<input type="submit" name="submit" value="Téléverser" class="btn btn-primary">
	</form>

</div>

{% endblock content %}



{% block scripts %}{{ block.super}}

<script>
$('#id_fichier_csv').change(function(){
	var filename = $(this).val().replace("C:\\fakepath\\", "")
	var possible_date = filename.slice(0, 10)
	$('#id_date').val(possible_date)
})
</script>

{% endblock %}