{% extends "meta.html" %}
{% load static %}
{% load bootstrap3 %}

{% comment %}
{% if page_title %}{% block title %}{{ page_title }}{% endblock title %}{% endif %}
{% endcomment %}


{% block head %}{{ block.super }}
	<link rel="stylesheet" href="{%  static 'css/base.css' %}">
{% endblock head %}



{% block header %}
	{% include "header.html" %}
{% endblock header %}



{% block content %}

	<!-- Main content displayed here -->
	{% if form %}
		{% csrf_token %}
		{% bootstrap_form form %}
	{% endif %}

{% endblock content %}



{% block footer %}

{% endblock footer %}



{% block scripts %} {{ block.super }}

{% comment %} <script src="{% get_static_prefix %}js/notifications.js"></script> {% endcomment %} 

{% endblock scripts %}